<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://nordicapis.com/wp-content/uploads/Comparing-Top-AI-Code-Assistants-A-Comprehensive-Review.jpg);">
  <div class="container" data-controller="typed">
    <h1>🤖 Wott Assistant</h1>
    <p id='banner-text'></p>
  </div>
</div>
<div class="container my-5">
  <h1>Challenges</h1>
  <ul>
    <% @challenges.each do |challenge| %>
      <li><%= link_to challenge.name, challenge_path(challenge) %></li>
    <% end %>
  </ul>
</div>
